{% set sshkeys = 
  [
    {
      'user': 'andrew',
      'keylist': [
        'ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCx4w3r7wUKRRyRhc/cZQJKAtgX4v9Hu8IJbu6PFU8WmUqAIVVK2InZNjqLCL2CJKHqVu7HtZMrSD+G6v4kkcTrO3aPckxuRdrr+HUd4k+OyDlT7bN05UGsUvHRgQKwcrKof7XoV8DQcr8BsCrWx99iZ+zWyo8EhMwXWsd/WWAoZL+sRevKCroNZP9DbjvcWsNNM/Owi5hmBk2P/SVn1HHElRZA+omQqgNKRnYrqsn0I5Nr6N0vIcVXD5a6mM7NJlq7K2cp6og9lmq4rpYnjogY3/cuIy2Pra8BSIevzHylvAJoDctcyFPyypIbK1fdJonHSSN/DTFZ4gRhc1bNtRW9 andrew.boren@gmail.com'
      ]
    }
  ]
%}
